body{
  background-color:lightpink
}
h2{
  color:antiquewhite; 
   font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 40px;
}
h1{
  color:blue;
 font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
} 

output {
  font-family: cursive;
  font-size: 18px;
  color: green;
  font-weight: bold;
}
#no
{
    font-family: cursive;
  font-size: 18px;
  color: red;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: gold;
  border-radius: 12px;
}
label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#minigrace {
  position: fixed;
  bottom: 30px;
  right: 300px;
  border-radius: 10px;
}
#back {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(0, 255, 42);
  border-radius: 12px;

}
#nextlevel {
    padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(0, 162, 255);
  border-radius: 12px;
  color: gold;
   font-family: "Luckiest Guy";

}

